<h4>Account Summary</h4>
<p>Here you will be able to see all your movements and your balance.</p>

<div class="callout">
    <h4 class="subheader"><i class="fa fa-user"></i> {{ myBank__Account.owner }}</h4>
    <p>Owns a <strong>{{ myBank__Account.type }}</strong> account.</p>
    <p>The money for the account is <strong>{{ myBank__Account.currency }}</strong></p>

    <div class="callout warning" ng-show="myBank__Movements.length === 0">
        <h5>Data missing!</h5>
        <p>You cannot view a history of your account because there are not movements registered. Go to <a href="#movements">Movements</a> to register a new one.</p>
    </div>

    <table class="stack hover" ng-show="myBank__Movements.length > 0">
        <thead>
            <tr>
                <th width="50">ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in myBank__Movements | orderBy:'date':true | limitTo:limitSearch">
                <td>{{ item.id }}</td>
                <td>{{ item.date | date:"yyyy/M/dd" }}</td>
                <td>{{ accountCurrency }}{{ item.amount | currency:"" }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.detail }}</td>
                <td><a href="#/details/{{ item.id }}" title="See Movement Details"><i class="fa fa-link"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
