<h4>Register a New Movement</h4>

<div class="callout alert" ng-show="myBank__Account.length === 0">
    <h5>Account required!</h5>
    <p>You have no registered any bank account. Go to <a href="#register">Register</a> to register a new account.</p>
</div>

<div ng-show="myBank__Account.length > 0">
    <form class="generalForms" ng-show="flag" name="movementsForm">
        <div class="row">
            <div class="large-6 columns">
                <label for="txtAmount">Insert the amount</label>
                <div class="input-group">
                    <span class="input-group-label"> {{ accountCurrency }} </span>
                    <input id="txtAmount" class="input-group-field" type="number" ng-model="movementAmount" required>
                </div>
            </div>
            <div class="large-6 columns">
                <label>
                    Date of Transaction
                    <input type="date" ng-model="movementDate" required>
                </label>
            </div>
        </div>
        <div class="row">
            <label class="small-12 columns">
                Insert a detail for the transaction
                <textarea ng-model="movementDetail" required></textarea>
            </label>
        </div>
        <div class="row">
            <fieldset class="large-6 columns">
                <legend>Select the type of the transaction:</legend>
                <input type="radio" ng-model="movementType" value="Debit" id="isDebit" checked><label for="isDebit">Debit</label>
                <input type="radio" ng-model="movementType" value="Credit" id="isCredit" required><label for="isCredit">Credit</label>
            </fieldset>
        </div>
    </form>

    <hr>
    <h5>Review the Transaction</h5>
    <div class="callout primary">
        <h5 class="subheader">Account Owner: {{ myBank__Account[0].owner }}</h5>
        <small class="subheader" ng-show="movementDate"><i class="fa fa-calendar"></i> {{ movementDate | date:"EEEE, MMMM d, y" }}</small>
        <p>{{ movementType }}<span ng-show="movementType">,</span> {{ accountCurrency }}: {{ (movementAmount | currency:"") || 0 }}</p>
        <p>{{ movementDetail }}</p>
    </div>

    <button type="button" ng-click="registerMovement()" class="success button expanded" ng-disabled="movementsForm.$invalid">Save</button>
</div>